<h1 id="logo" itemprop="name">
    <a href="/" itemprop="url">@*Hsin-Hao Tang*@</a>
</h1>
<ul id="nav" class="sf-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
    @*
	<li class="@(ViewBag.Tab == "Home" ? "current-menu-item" : "")">
		<a href="/Social/Facebook" itemprop="url" title="HOME">
			<span itemprop="name">HOME</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Me" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Me" itemprop="url" title="ME">
			<span itemprop="name">ME</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Feed" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Feed" itemprop="url" title="FEED">
			<span itemprop="name">FEED</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Friends" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Friends" itemprop="url" title="FRIENDS">
			<span itemprop="name">FRIENDS</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Post" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Post" itemprop="url" title="POST">
			<span itemprop="name">POST</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Invite" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Invite" itemprop="url" title="INVITE">
			<span itemprop="name">INVITE</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Revoke" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Revoke" itemprop="url" title="REVOKE">
			<span itemprop="name">REVOKE</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "Privacy" ? "current-menu-item" : "")">
		<a href="/Social/Facebook/Privacy" itemprop="url" title="PRIVACY">
			<span itemprop="name">PRIVACY</span>
		</a>
	</li>
    *@
</ul>
<div id="combo-holder"></div>