@using cythilya.Models;
@{
    MeModels.Activity activity = ViewBag.ActivityData as MeModels.Activity;
    List<MeModels.Participant> participantList = ViewBag.ParticipantList as List<MeModels.Participant>;
    List<MeModels.Tag> tagList = ViewBag.TagList as List<MeModels.Tag>;
    MeModels.Location location = ViewBag.Location as MeModels.Location;
        
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.Tab = "";
    ViewBag.Title = activity.Name + " | 桑莫讀書會";
    ViewBag.Description = activity.Name + " | 桑莫讀書會";
    ViewBag.SharedImage = "http://cythilya.apphb.com" + activity.Pic.First();
}
<style>
body.home #main {padding-top: 40px;}
.placeDetail{display:none;}
.locationName{display: block;width:122px;word-wrap:break-word;word-break:break-all;}
.entry-content .inner{margin-bottom: 20px;}
</style>
<div id="posts-list" class="cf">
    <article class="format-standard" itemscope itemtype="http://schema.org/Event">
        <div class="feature-image">
            <img src="@(activity.Pic)" title="@activity.Name" alt="@activity.Name" itemprop="image" />
        </div>
        <div class="box cf">
            <div class="entry-date">
                <div class="number">@activity.Day</div>
                <div class="month">@activity.Month</div>
            </div>
            <div class="excerpt">
                <h2 class="post-heading" itemprop="name">@activity.Name</h2>
                <div class="entry-content" itemprop="description">
                    <div class="inner">
                        @Html.Partial("/Views/Me/Activity/activity_" + (activity.ID) + ".cshtml")
                    </div>
                    ...
                    @if (!String.IsNullOrEmpty(activity.NoteURL))
                    {
                        <a href="@(activity.NoteURL)">看更多內容</a>
                    }
                </div>
            </div>
            <div class="meta">
                <span class="time">@(activity.Time) <meta itemprop="startDate" content="@(activity.StartDate)"> <meta itemprop="endDate" content="@(activity.StartDate)"> </span>
                <span class="location">
                    <a class="locationName" href="@(location.URL)" target="_blank">@(location.Name) (@location.AddressLocality @location.StreetAddress)</a>
                    <span itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
                        <meta itemprop="name" content="@(location.Name)" />
                        <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                            <meta itemprop="street-address" content="@location.AddressLocality @location.StreetAddress" />
                            <meta itemprop="region" content="台灣" />
                        </span>
                    </span>   
                </span>
                @*
                <span class="location" itemprop="location" itemscope itemtype="http://schema.org/Place">
			        <a class="locationName" href="@(location.URL)" target="_blank" itemprop="name">@(location.Name) (@location.AddressLocality @location.StreetAddress)</a>
			        <div class="placeDetail">
				        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					        <span itemprop="streetAddress">@(location.StreetAddress)</span>,
					        <span itemprop="addressLocality">@(location.AddressLocality)</span>,
					        <span itemprop="addressRegion">@(location.AddressRegion)</span>
				        </div>
				        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
					        <meta itemprop="latitude" content="@(location.Latitude)" />
					        <meta itemprop="longitude" content="@(location.Longitude)" />
				        </div>	
			        </div>
		        </span>
                *@
                <span class="tags">
                @foreach (var tag in tagList)
                { 
                    <a @*href="" target="_blank"*@>@(tag.Name)</a><br>
                }
                </span>
                <span class="user">
                    @foreach (var user in participantList)
                    {
                        <a href="@(user.Website)" target="_blank">@user.Name</a><br>
                    }
                </span>
                @if (!String.IsNullOrEmpty(activity.NoteURL))
                {
                    <span class="format"><a href="@(activity.NoteURL)">活動內容/筆記</a></span>
                }
                @*<span class="comments">16 comments</span>*@
            </div>
        </div>
    </article>
</div>
@*
<aside id="sidebar">
    <ul>
        <li class="block">
            <h4>Text Widget</h4>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 
        </li>
        <li class="block">
            <h4>Categories</h4>
            <ul>
                <li class="cat-item"><a href="#" title="title">Film and video<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Print<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Photo and lomo<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Habitant morbi<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Film and video<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Print<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Photo and lomo<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Habitant morbi<span class="post-counter"> (2)</span></a></li>
            </ul>
        </li>
        <li class="block">
            <h4>Archives</h4>
            <ul>
                <li class="cat-item"><a href="#" title="title">January</a></li>
                <li class="cat-item"><a href="#" title="title">February</a></li>
                <li class="cat-item"><a href="#" title="title">March</a></li>
            </ul>
        </li>
    </ul>
</aside>
*@