@using cythilya.Models;
@{
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.Tab = "";
    ViewBag.Title = "讀書會";
    ViewBag.Description = "讀書會";

    MeModels.Activity activity = ViewBag.ActivityData as MeModels.Activity;
    List<MeModels.Participant> participantList = ViewBag.ParticipantList as List<MeModels.Participant>;
    List<MeModels.Tag> tagList = ViewBag.TagList as List<MeModels.Tag>;
    MeModels.Location location = ViewBag.Location as MeModels.Location;
}
<style>
body.home #main {padding-top: 40px;}
.placeDetail{display:none;}
.locationName{display: block;width:122px;word-wrap:break-word;word-break:break-all;}
</style>
<div id="posts-list" class="cf">
    <article class="format-standard" itemscope itemtype="http://schema.org/Event">
        <div class="feature-image">
            <img src="@(activity.Pic.First())" title="@activity.Name" alt="@activity.Name" itemprop="image" />
        </div>
        <div class="box cf">
            <div class="entry-date">
                <div class="number">@activity.Day</div>
                <div class="month">@activity.Month</div>
            </div>
            <div class="excerpt">
                <h2 class="post-heading" itemprop="name">@activity.Name</h2>
                <div class="entry-content" itemprop="description">@Html.Raw(activity.HTMLContent)</div>
            </div>
            <div class="meta">
                @if (!String.IsNullOrEmpty(activity.NoteURL)) 
                {
                    <span class="format"><a href="@(activity.NoteURL)">筆記</a></span>     
                }
                <span class="user">
                @foreach (var user in participantList)
                { 
                    <a href="@(user.Website)" target="_blank">@user.Name</a><br>
                }
                </span>
                @*<span class="comments">16 comments</span>*@
                <span class="tags">
                @foreach (var tag in tagList)
                { 
                    <a @*href="" target="_blank"*@>@(tag.Name)</a><br>
                }
                </span>
                <span class="time">@(activity.Time) <meta itemprop="startDate" content="@(activity.StartDate)"></span>
		        <span class="location" itemprop="location" itemscope itemtype="http://schema.org/Place">
			        <a class="locationName" href="@(location.URL)" target="_blank" itemprop="name">@(location.Name)</a>
			        <div class="placeDetail">
				        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					        <span itemprop="streetAddress">@(location.StreetAddress)</span>,
					        <span itemprop="addressLocality">@(location.AddressLocality)</span>,
					        <span itemprop="addressRegion">@(location.AddressRegion)</span>
				        </div>
				        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
					        <meta itemprop="latitude" content="@(location.Latitude)" />
					        <meta itemprop="longitude" content="@(location.Longitude)" />
				        </div>	
			        </div>
		        </span>
            </div>
        </div>
    </article>
</div>
<aside id="sidebar">
    <ul>
        <li class="block">
            <h4>Text Widget</h4>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 
        </li>
        <li class="block">
            <h4>Categories</h4>
            <ul>
                <li class="cat-item"><a href="#" title="title">Film and video<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Print<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Photo and lomo<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Habitant morbi<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Film and video<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Print<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Photo and lomo<span class="post-counter"> (2)</span></a></li>
                <li class="cat-item"><a href="#" title="title">Habitant morbi<span class="post-counter"> (2)</span></a></li>
            </ul>
        </li>
        <li class="block">
            <h4>Archives</h4>
            <ul>
                <li class="cat-item"><a href="#" title="title">January</a></li>
                <li class="cat-item"><a href="#" title="title">February</a></li>
                <li class="cat-item"><a href="#" title="title">March</a></li>
            </ul>
        </li>
    </ul>
</aside>