@using cythilya.Models;
@{
    MeModels.Activity activity = ViewBag.ActivityData as MeModels.Activity;
    List<MeModels.Participant> participantList = ViewBag.ParticipantList as List<MeModels.Participant>;
    List<MeModels.ActivityTag> tagList = ViewBag.TagList as List<MeModels.ActivityTag>;
    MeModels.Location location = ViewBag.Location as MeModels.Location;
    List<MeModels.ActivityTag> allTagList = ViewBag.AllTag as List<MeModels.ActivityTag>;
        
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.Tab = "";
    ViewBag.Title = activity.Name + " | 桑莫讀書會";
    ViewBag.Description = activity.Name + " | 桑莫讀書會";
    ViewBag.SharedImage = "http://cythilya.apphb.com" + activity.Pic;
}
<style>
body.home #main {padding-top: 40px;}
.placeDetail{display:none;}
.locationName{display: block;width:122px;word-wrap:break-word;word-break:break-all;}
.entry-content .inner{margin-bottom: 20px;}
#posts-list{margin-top: 25px;}
#posts-list article .box .meta .locationName{padding-left:0;}
#posts-list article .box .meta .locationName span{padding-left:0;}
</style>
@*
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Event",
        "name" : "@activity.Name",
        "startDate" : "@activity.Time",
        "description" : "@activity.Description",
        "url" : "@(activity.NoteURL)",
        "location" : {
        "@@type" : "Place",
        "name" : "@location.Name",
        "address" : {
            "@@type" : "PostalAddress",
            "addressCountry" : "@location.AddressLocality"
        }
    }
    </script>
*@
<div class="project-pager cf">
	<a class="previous-project" href="/Me/ActivityList">&#8592; 回到活動列表</a>
</div>
<div id="posts-list" class="cf">
    <article class="format-standard" itemscope itemtype="http://data-vocabulary.org/Event">
        <div class="feature-image">
            <img src="@(activity.Pic)" title="@activity.Name" alt="@activity.Name" />
        </div>
        <div class="box cf">
            <div class="entry-date">
                <div class="number">@activity.Day</div>
                <div class="month">@activity.Month</div>
            </div>
            <div class="excerpt">
                <h2 class="post-heading" itemprop="name">@activity.Name</h2>
                <meta itemprop="summary" content="@activity.Description" />
                <div class="entry-content" itemprop="description">
                    <div class="inner">
                    @if (String.IsNullOrEmpty(activity.HTMLContent)) 
                    { 
                        @Html.Partial("/Views/Me/Activity/activity_" + (activity.ID) + ".cshtml")
                    }
                    else
                    {
                        @Html.Raw(activity.HTMLContent)
                    }
                    </div>
                    ...
                    @if (!String.IsNullOrEmpty(activity.NoteURL))
                    {
                        <a href="@(activity.NoteURL)">看更多內容</a>
                    }
                </div>
            </div>
            <div class="meta">
                <span class="time">@(activity.Time) 
                    <meta itemprop="startDate" content="@(activity.StartDate)">
                    <meta itemprop="endDate" content="@(activity.StartDate)">
                </span>
                <span class="location">
                    <a class="locationName" href="@(location.URL)" target="_blank">@(location.Name) (@location.AddressLocality @location.StreetAddress)</a>
                    <span itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
                        <meta itemprop="name" content="@(location.Name)" />
                        <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                            <meta itemprop="street-address" content="@location.AddressLocality @location.StreetAddress" />
                            <meta itemprop="region" content="台灣" />
                        </span>
                    </span>
                </span>
                @*
                    <span class="location" itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <a class="locationName" href="@(location.URL)" target="_blank" itemprop="name">@(location.Name) (@location.AddressLocality @location.StreetAddress)</a>
                        <div class="placeDetail">
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">@(location.StreetAddress)</span>,
                                <span itemprop="addressLocality">@(location.AddressLocality)</span>,
                                <span itemprop="addressRegion">@(location.AddressRegion)</span>
                            </div>
                            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                <meta itemprop="latitude" content="@(location.Latitude)" />
                                <meta itemprop="longitude" content="@(location.Longitude)" />
                            </div>
                        </div>
                    </span>
                *@
                <span class="tags">
                    @foreach (var tag in activity.TagDetail)
                    {
                        <a @*href="" target="_blank"*@>@(tag.Name)</a><br>
                    }
                </span>
                <span class="user">
                    @foreach (var user in participantList)
                    {
                        <a href="@(user.Website)" target="_blank">@user.Name</a><br>
                    }
                </span>
                @if (!String.IsNullOrEmpty(activity.NoteURL))
                {
                    <span class="format"><a href="@(activity.NoteURL)">活動內容/筆記</a></span>
                }
                @*<span class="comments">16 comments</span>*@
            </div>
        </div>
    </article>
</div>
<aside id="sidebar">
    <ul>
        <li class="block">
            <h4>Purpose</h4>
            這是一個和ㄧ些志同道合的夥伴們組成的讀書會，希望能藉由定期交流、討論，擴展彼此的視野和技能。
        </li>
        <li class="block">
            <h4>Categories</h4>
            <ul itemscope itemtype="http://schema.org/WPSideBar">
                @foreach (var tag in allTagList) 
                { 
                    <li class="cat-item"><a title="@(tag.Name)" itemprop="name">@(tag.Name)</a></li>
                }
                @*<li class="cat-item"><a href="#" title="title" itemprop="url"><span itemprop="name">Habitant morbi</span><span class="post-counter"> (2)</span></a></li>*@
            </ul>
        </li>
        @*
        <li class="block">
            <h4>Archives</h4>
            <ul>
                <li class="cat-item"><a href="#" title="title">January</a></li>
                <li class="cat-item"><a href="#" title="title">February</a></li>
                <li class="cat-item"><a href="#" title="title">March</a></li>
            </ul>
        </li>
        *@
    </ul>
</aside>