@using cythilya.Models;
@{
    Layout = "~/Views/Shared/_LayoutMe.cshtml";
    ViewBag.Tab = "Portfolio";

    MeModels.Project proj = ViewBag.ProjData as MeModels.Project;
    ViewBag.Title = proj.Name + " | Hsin-Hao Tang";
    ViewBag.Description = proj.Name + " | Hsin-Hao Tang";
    ViewBag.SharedImage = proj.PicLarge;

    List<MeModels.RelatedProject> relatedProjects = ViewBag.RelatedProjects as List<MeModels.RelatedProject>;
}
<style>
body.home #main {
	padding-top: 30px;
}    
</style>
<div id="portfolio-content" class="cf">        	
	<div class="project-pager cf">
		<a class="previous-project" href="/Me/Portfolio">&#8592; Go to Portfolio</a>
		@*
		<a class="previous-project" href="#">&#8592; Previous project</a>
		<a class="next-project" href="#">Next project &#8594;</a>
	    *@
	</div>
	<div id="project-box" class="cf" itemscope itemtype="http://schema.org/article">
        @if (proj.Snapshot != null)
        {
		<div class="project-slider">
			<div class="flexslider">
				<ul class="slides">
                @foreach (var item in proj.Snapshot)
                { 
				<li>
					<img src="@(item.SnapshotURL)" title="@(item.Name)" alt="@(item.Name)" itemprop="image" />
				</li>
                }
				</ul>
			</div>
		</div>
        }
		<div class="info">
            @* Date *@
            <p><strong>Date</strong>@(!String.IsNullOrEmpty(proj.Date) ? proj.Date : "")</p>
            
            @* Role *@
            @if (!String.IsNullOrEmpty(proj.Role))
            { 
                <p><strong>Role</strong>@(proj.Role)</p>
            }

            @* Tech *@
            @if (!String.IsNullOrEmpty(proj.Tech))
            { 
                <p><strong>Tech</strong>@(proj.Tech)</p>
            }     
            
            @* Parters *@
            @if (proj.PartnerDetail != null)
            {
                <p><strong>Parters</strong>
                @foreach (var item in proj.PartnerDetail)
                { 
                <a href="@(item.Website)" class="partnerItem" target="_blank">@(item.Name)</a><br>
                }
                </p>
            }

            @* Client *@
            @if (!String.IsNullOrEmpty(proj.Client))
            {
                if (!String.IsNullOrEmpty(proj.ClientURL))
                {
                    <p><strong>Client</strong><a href="@(proj.ClientURL)" target="_blank" rel="nofollow">@(proj.Client)</a></p>
                }
                else
                { 
                    <p><strong>Client</strong>@(proj.Client)</p>
                }
            }                
                
            @* Site *@
            @if (!String.IsNullOrEmpty(proj.LauchURL))
            { 
                <p><a href="@(proj.LauchURL)" class="launch" target="_blank">Launch Project</a></p>
            }
        </div>
        <div class="entry-content" itemprop="description">
        	<h2 class="heading" itemprop="name">@(proj.Name)</h2>
            @Html.Raw(proj.HtmlContent)
        </div>
    </div>
    @if (relatedProjects != null)
    { 
	<div class="related-projects">
		<h4 class="related-heading">Related Projects</h4>
		<div class="related-list cf">
            @foreach (var rItem in relatedProjects)
            { 
			<figure>
				<a href="@(rItem.URL)" class="thumb" title="@(rItem.Name)"><img src="@(rItem.PicLarge)" title="@(rItem.Name)" alt="@(rItem.Name)" /></a>
				<a href="@(rItem.URL)" class="heading" title="@(rItem.Name)">@(rItem.Name)</a>
			</figure>
            }
		</div>
	</div>    
    }
</div>
