@{
    Layout = "~/Areas/EShopper/Views/Shared/_LayoutEShopper.cshtml";
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SharedImage = "";
    ViewBag.Tab = "Home";
}
@Html.Partial("~/Areas/EShopper/Views/Shared/_Carousel.cshtml")
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
            @Html.Partial("~/Areas/EShopper/Views/Shared/_Sidebar.cshtml")
            </div>
            @Html.Partial("~/Areas/EShopper/Views/Shared/_FeaturesItems.cshtml")
			<div class="col-sm-9 padding-right">
            @*
            @Html.Partial("~/Areas/EShopper/Views/Shared/_AllProducts.cshtml")
            @Html.Partial("~/Areas/EShopper/Views/Shared/_CategoryTab.cshtml")
            @Html.Partial("~/Areas/EShopper/Views/Shared/_RecommendItems.cshtml")
            *@
			</div>
		</div>
	</div>
</section>

