@using cythilya.Areas.EShopper.Models
@{
    Layout = "~/Areas/EShopper/Views/Shared/_LayoutEShopper.cshtml";
    Product detail = ViewBag.ProductDetail as Product;
    ViewBag.Title = detail.Name;
    ViewBag.Description = detail.Description;
    ViewBag.SharedImage = detail.PicLargeUrl;
    ViewBag.Tab = detail.ProductCategory;
    
    //fake data
    string ratingValue = "4.5";
    string reviewCount = "100";
}
<script type="application/ld+json">
{
    "@@context": "http://schema.org",
    "@@type": "Product",
    "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingValue": @ratingValue,
        "reviewCount": @reviewCount
    },
    "description": "@detail.Description",
    "name": "@detail.Name",
    "productId": "@detail.ID",
    "offers": {
        "@@type": "Offer",
        "availability": "http://schema.org/InStock",
        "price": "@detail.Price",
        "priceCurrency": "TWD"
    },
    "image": "@detail.PicLargeUrl",
    "brand": "@detail.Brand",
    "review": 
    [
        {
            "@@type": "Review",
            "author": "Summer",
            "datePublished": "2015-06-24",
            "description": "Good.",
            "name": "@detail.Name",
            "reviewRating": 
            {
                "@@type": "Rating",
                "bestRating": "5",
                "ratingValue": "4.5",
                "worstRating": "1"
            }
        },
        {
            "@@type": "Review",
            "author": "Lucas",
            "datePublished": "2011-03-25",
            "description": "Nice!",
            "name": "@detail.Name",
            "reviewRating": 
            {
                "@@type": "Rating",
                "bestRating": "5",
                "ratingValue": "4",
                "worstRating": "1"
            }
        }
    ]
}
</script>
<section class="pageProduct">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
            @Html.Partial("~/Areas/EShopper/Views/Shared/_Sidebar.cshtml")
			</div>
            <div class="productDetail col-sm-9 padding-right">
				<div class="product-details">
			        <ol class="breadcrumb clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
			            <li class="breadcrumbItem" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			                <a class="link" itemprop="item" href="/EShopper/Home">
			        	        <span class="text" itemprop="name">拍賣桑莫的生活。SEO遊樂場</span>
			                </a>
			                <meta itemprop="position" content="1" />
			            </li>
			            <span class="divider"> ›</span>
			            <li class="breadcrumbItem" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
			                <a class="link" itemprop="item" href="/EShopper/Home/Category?id=@detail.ProductCategory.ID">
			        	        <span class="text" itemprop="name">@detail.ProductCategory.Name</span>
			                </a>
			                <meta itemprop="position" content="2" />
			            </li>
			            <span class="divider"> ›</span>
			            <li class="breadcrumbItem" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			                <a class="link" itemprop="item" href="/EShopper/Home/Product?id=@detail.ID">
			        	        <span class="text" itemprop="name">@detail.Name</span>
			                </a>
			                <meta itemprop="position" content="3" />
			            </li>
			        </ol>
					<div class="col-sm-5">
						<div class="view-product">
							<img src="@(detail.PicLargeUrl)" title="@(detail.Name)" alt="@(detail.Name)">
						</div>
					</div>
					<div class="col-sm-7">
						<div id="singleProductInfo" class="product-information">
                            @if(detail.IsHigLight)
                            {
                                <img title="New Arrival" alt="New Arrival" src="/Content/eshopper/images/product-details/new.jpg" class="newarrival">
                            }
                            @if (detail.IsSale)
                            { 
                                <img title="Sale" alt="Sale" src="/Content/eshopper/images/home/sale.png" class="new"> 
                            }
							<h2> @(detail.Name) </h2>
							<p>ID: @(detail.ID) </p>
							<img src="/Content/eshopper/images/product-details/rating.png" alt="Rating">
                            <span>
								<span>$ @(detail.Price)</span>
								<label>Quantity:</label>
                                <select class="selectItem">
                                @{
                                    for (int i = 1; i <= detail.Amount; i++) 
                                    { 
                                        <option value="@(i)">@(i)</option>
                                    }
                                }
                                </select>
								@*<input type="text" value="@(detail.Amount)">*@
                                <button type="button" class="btn btn-fefault cart btnAddToCart" data-productid="@(detail.ID)">
									<i class="fa fa-shopping-cart"></i>
									Add to cart
								</button>
							</span>
							<p><b>Availability:</b> In Stock</p>
							<p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> @(detail.Brand)</p>
                            @*<a href=""><img src="/Content/eshopper/images/product-details/share.png" class="share img-responsive" alt=""></a>*@
						</div>
					</div>
				</div>
				<div class="category-tab shop-details-tab">
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
							<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
							@*<li><a href="#tag" data-toggle="tab">Tag</a></li>*@
							@*<li><a href="#reviews" data-toggle="tab">Reviews@*(5)</a></li>*@
						</ul>
					</div>
					<div class="tab-content">
                        <div class="tab-pane active" id="details">
                            <div class="col-sm-12">
                                @Html.Raw(detail.Description)
                            </div>
                        </div>
						<div class="tab-pane" id="companyprofile">
							<div class="col-sm-12">
                            @Html.Raw(detail.BrandInfo)
							</div>
						</div>
                        @* tag product *@
                        @*
						<div class="tab-pane fade" id="tag">
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="http://dummyimage.com/176x176/f071f0/fff" alt="">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="http://dummyimage.com/176x176/f071f0/fff" alt="">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="http://dummyimage.com/176x176/f071f0/fff" alt="">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="http://dummyimage.com/176x176/f071f0/fff" alt="">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
										</div>
									</div>
								</div>
							</div>
						</div>
                        *@
					    @* 改用Facebook Comments *@
                        @*
						<div class="tab-pane fade active in" id="reviews">
							<div class="col-sm-12">
								<ul>
									<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
									<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
									<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
								</ul>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p><b>Write Your Review</b></p>
								<form action="#">
									<span>
										<input type="text" placeholder="Your Name">
										<input type="email" placeholder="Email Address">
									</span>
									<textarea name=""></textarea>
									<b>Rating: </b> <img src="images/product-details/rating.png" alt="">
									<button type="button" class="btn btn-default pull-right">
										Submit
									</button>
								</form>
							</div>
						</div>
                        *@
					</div>
				</div>
                @Html.Partial("~/Areas/EShopper/Views/Shared/_RecommendItems.cshtml")
		    </div>
		</div>
	</div>
</section>
