@using cythilya.Models;
@{
    List<MeModels.Article> recentArticleList = ViewBag.RecentPostList as List<MeModels.Article>;
    List<MeModels.Article> featuredPostList = ViewBag.FeaturedPostList as List<MeModels.Article>;
}
<footer>
	<div class="wrapper cf">
		<ul  class="widget-cols cf">
			<li class="first-col">
				<div class="widget-block">
					<h4>RECENT POSTS</h4>
                    @foreach (var item in recentArticleList)
                    {
  					<div class="recent-post cf">
						<a href="@(item.URL)" class="thumb" title="@(item.Name)"><img src="@(item.PicInFooter)" title="@(item.Name)" alt="@(item.Name)" /></a>
						<div class="post-head">
							<a href="@(item.URL)">@(item.Name)</a><span>@(item.Time)</span>
						</div>
					</div>                 
                    }
				</div>
			</li>
			<li class="second-col">
				<div class="widget-block">
					<h4>FEATURED POSTS</h4>
                    @foreach (var item in featuredPostList)
                    {
                        if (item.isHighlight)
                        {
  					    <div class="recent-post cf">
						    <a href="@(item.URL)" class="thumb" title="@(item.Name)"><img src="@(item.PicInFooter)" title="@(item.Name)" alt="@(item.Name)" /></a>
						    <div class="post-head">
							    <a href="@(item.URL)">@(item.Name)</a><span>@(item.Time)</span>
						    </div>
					    </div>                                
                        }
                    }
				</div>
			</li>
			<li class="third-col">
				<div class="widget-block">
                    <h4>ABOUT</h4>
					<p>I'm Hsin-Hao Tang, a front end developer that specializes in Search Engine Optimization (SEO) & Social Media.</p> 
					<p>View my work <a href="http://cythilya.blogspot.tw" title="Summer。桑莫。夏天" target="_blank">Summer。桑莫。夏天</a>.</p>
                    <p>View my resume <a href="/Me/Resume" title="Resume | Hsin-Hao Tang">Resume</a>.</p>
                    <p>View my portfolio <a href="/Me/Portfolio" title="Portfolio | Hsin-Hao Tang">Portfolio</a>.</p>
                </div>
			</li>  
			@*            
			<li class="fourth-col">
				<div class="widget-block">
					<h4>CONTACT</h4>
                    <p>Email: cythilya@gmail.com</p>
                    <p>Facebbok: <a href="https://www.facebook.com/cythilya" title="Become a fan" class="facebook" target="_blank">https://www.facebook.com/cythilya</a></p>
                    <p>Google+: <a href="https://plus.google.com/+CythilyaTang" title="Enter my circles" class="plus" target="_blank">https://plus.google.com/+CythilyaTang</a></p>
                    <p>Mobile: 0926-289-012</p>
                </div>
			</li>
            *@	
            @*                           
			<li class="third-col">
				<div class="widget-block">
					<div id="tweets" class="footer-col tweet">
						<h4>TWITTER WIDGET</h4>
					</div>
				</div>
			</li>
			<li class="fourth-col">
				<div class="widget-block">
					<h4>CATEGORIES</h4>
					<ul>
						<li class="cat-item"><a href="#" >Design</a></li>
						<li class="cat-item"><a href="#" >Photo</a></li>
						<li class="cat-item"><a href="#" >Art</a></li>
						<li class="cat-item"><a href="#" >Game</a></li>
						<li class="cat-item"><a href="#" >Film</a></li>
						<li class="cat-item"><a href="#" >TV</a></li>
					</ul>
				</div>
			</li>	
            *@
        </ul>
		<div class="footer-bottom">
			@*<div class="left">by <a href="http://luiszuno.com" >luiszuno.com</a></div>*@
			<ul id="social-bar" class="cf sb">
				<li><a href="https://www.facebook.com/cythilya" title="Become a fan" class="facebook" target="_blank">Facebbok</a></li>
				<li><a href="https://plus.google.com/+CythilyaTang" title="Enter my circles" class="plus" target="_blank">Google Plus</a></li>
				<li><a href="mailto:cythilya@gmail.com" title="Email Hsin-Hao Tang" class="email" target="_blank">Email</a></li>
			</ul>
		</div>	
	</div>
</footer>