@using cythilya.Models;
@{
    List<MeModels.Article> recentArticleList = ViewBag.RecentPostList as List<MeModels.Article>;
    List<MeModels.Article> featuredPostList = ViewBag.FeaturedPostList as List<MeModels.Article>;
    List<MeModels.RecentProject> recentProjectList = ViewBag.RecentProjectList as List<MeModels.RecentProject>;
}
<footer>
	<div class="wrapper cf">
		<ul  class="widget-cols cf">
			<li class="first-col">
				<div class="widget-block">
					<h4>RECENT POSTS</h4>
                    @foreach (var item in recentArticleList)
                    {
  					<div class="recent-post cf">
						<a href="@(item.URL)" class="thumb" title="@(item.Name)" target="_blank"><img src="@(item.PicInFooter)" title="@(item.Name)" alt="@(item.Name)" /></a>
						<div class="post-head">
							<a href="@(item.URL)" title="@(item.Name)" target="_blank">@(item.Name)</a><span>@(item.Time)</span>
						</div>
					</div>                 
                    }
                    <a href="/Me/BlogArchieve" title="Archieve">Archieve</a>
				</div>
			</li>
			<li class="second-col">
				<div class="widget-block">
					<h4>FEATURED POSTS</h4>
                    @foreach (var item in featuredPostList)
                    {
                        if (item.isHighlight)
                        {
  					    <div class="recent-post cf">
						    <a href="@(item.URL)" class="thumb" title="@(item.Name)" target="_blank"><img src="@(item.PicInFooter)" title="@(item.Name)" alt="@(item.Name)" /></a>
						    <div class="post-head">
							    <a href="@(item.URL)" title="@(item.Name)" target="_blank">@(item.Name)</a><span>@(item.Time)</span>
						    </div>
					    </div>                                
                        }
                    }
				</div>
			</li>
			<li class="third-col">
				<div class="widget-block">
                    <h4>RECENT PROJECTS</h4>
                    @foreach (var item in recentProjectList)
                    {
  					    <div class="recent-post cf">
						    <a href="@(item.URL)" class="thumb" title="@(item.Name)"><img src="@(item.PicInFooter)" title="@(item.Name)" alt="@(item.Name)" /></a>
						    <div class="post-head">
							    <a href="@(item.URL)">@(item.Name)</a><span>@(item.Date)</span>
						    </div>
					    </div>                                
                    }
                    <a href="/Me/ProjectArchieve" title="Archieve">Archieve</a>
                </div>
			</li>  
			<li class="fourth-col">
				<div class="widget-block">
                   <h4>ABOUT</h4>
					<p>I'm Hsin-Hao Tang, a front end developer that specializes in Search Engine Optimization (SEO) & Social Media.</p> 
					<p>
                        <ul>
                            <li><a href="/Me/About_C" title="關於 Hsin-Hao Tang">關於我</a></li>
                            <li><a href="http://cythilya.blogspot.tw" title="Summer。桑莫。夏天" target="_blank">My Blog - Summer。桑莫。夏天</a></li>
                            <li><a href="/Me/Resume" title="Resume | Hsin-Hao Tang">My Resume</a></li>
                            <li><a href="/Me/Portfolio" title="Portfolio | Hsin-Hao Tang">My Portfolio</a></li>
                        </ul>
                    </p>
					<h4>CONTACT</h4>
                    <p>
                        <ul>
                            <li>Email:&nbsp&nbsp<a href="mailto:cythilya@gmail.com" title="Email Hsin-Hao Tang" class="email" target="_blank">cythilya@gmail.com</a>  or <a href="/Me/Contact" itemprop="url" title="Use Contact Form"><span itemprop="name">use contact form</span></a></li>
                            <li>FB:&nbsp&nbsp<a href="https://www.facebook.com/cythilya" title="Become a fan" class="facebook" target="_blank">https://www.facebook.com/cythilya</a></li>
                            <li>G+:&nbsp&nbsp<a href="https://plus.google.com/+CythilyaTang" title="Enter my circles" class="plus" target="_blank">https://plus.google.com/+CythilyaTang</a></li>
                            <li>Mobile:&nbsp&nbsp0926-289-012</li>
                        </ul>
                    </p>
                </div>
			</li>
            @*                           
			<li class="third-col">
				<div class="widget-block">
					<div id="tweets" class="footer-col tweet">
						<h4>TWITTER WIDGET</h4>
					</div>
				</div>
			</li>
			<li class="fourth-col">
				<div class="widget-block">
					<h4>CATEGORIES</h4>
					<ul>
						<li class="cat-item"><a href="#" >Design</a></li>
						<li class="cat-item"><a href="#" >Photo</a></li>
						<li class="cat-item"><a href="#" >Art</a></li>
						<li class="cat-item"><a href="#" >Game</a></li>
						<li class="cat-item"><a href="#" >Film</a></li>
						<li class="cat-item"><a href="#" >TV</a></li>
					</ul>
				</div>
			</li>	
            *@
        </ul>
		<div class="footer-bottom">
			@*<div class="left">by <a href="http://luiszuno.com" >luiszuno.com</a></div>*@
			<ul id="social-bar" class="cf sb">
				<li><a href="https://www.facebook.com/cythilya" title="Become a fan" class="facebook" target="_blank">Facebook</a></li>
				<li><a href="https://plus.google.com/+CythilyaTang" title="Enter my circles" class="plus" target="_blank">Google Plus</a></li>
				<li><a href="mailto:cythilya@gmail.com" title="Email Hsin-Hao Tang" class="email" target="_blank">Email</a></li>
			</ul>
		</div>	
	</div>
</footer>