<h1 id="logo" itemprop="name">
    <a href="/" itemprop="url">Hsin-Hao Tang</a>
</h1>
<ul id="nav" class="sf-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<li class="@(ViewBag.Tab == "Index" ? "current-menu-item" : "")">
		<a href="/" itemprop="url" title="HOME">
			<span itemprop="name">HOME</span>
		</a>
	</li>
	<li class="@(ViewBag.Tab == "About" ? "current-menu-item" : "")">
		<a href="/Me/About_C" itemprop="url" title="About">
			<span itemprop="name">ABOUT</span>
		</a>
	</li>	
	<li class="@(ViewBag.Tab == "Resume" ? "current-menu-item" : "")">
		<a href="/Me/Resume" itemprop="url" title="RESUME">
			<span itemprop="name">RESUME</span>
		</a>
	</li>	
	<li class="@(ViewBag.Tab == "Portfolio" ? "current-menu-item" : "")">
		<a href="/Me/ProjectArchieve" itemprop="url" title="PORTFOLIO">
			<span itemprop="name">PORTFOLIO</span>
		</a>
	</li>
	<li>
		<a href="http://cythilya.blogspot.tw" itemprop="url" target="_blank" title="Summer。桑莫。夏天">
		    <span itemprop="name">BLOG</span>
		</a>
	</li>
    @*
	<li class="@(ViewBag.Tab == "Contact" ? "current-menu-item" : "")">
		<a href="/Me/Contact" itemprop="url" title="CONTACT">
			<span itemprop="name">CONTACT</span>
		</a>
	</li>
    *@
</ul>
<div id="combo-holder"></div>