@{
    if (String.IsNullOrEmpty(ViewBag.Title)){
        ViewBag.Title = "Hsin-Hao Tang";
    }
    
    if(String.IsNullOrEmpty(ViewBag.Description)){
        ViewBag.Description = "Hsin-Hao Tang";
    }
    
    if(String.IsNullOrEmpty(ViewBag.SharedImage)){
        ViewBag.SharedImage = "https://lh4.googleusercontent.com/aQ9STfEf3oivUc5MH-hSUFiZDoq2qjajCksHR_pn7pY=w800-h597-no";
        //ViewBag.SharedImage = "/Images/twenty_800.jpg";
    }

    var currentURL = "http://cythilya.apphb.com" + HttpContext.Current.Request.RawUrl;
    var siteName = "Hsin-Hao Tang";
    var enableSlider = ViewBag.EnableSlider;
}
<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@(ViewBag.Title)</title>
<meta name="description" content="@(ViewBag.Description)">
<meta itemprop="name" content="@(ViewBag.Title)">
<meta itemprop="description" content="@(ViewBag.Description)">
<meta itemprop="image" content="@(ViewBag.SharedImage)">
<meta property="og:title" content="@(ViewBag.Title)">
<meta property="og:description" content="@(ViewBag.Description)">
<meta property="og:url" content="@(currentURL)">
<meta property="og:site_name" content="@(siteName)">
<meta property="og:type" content="article">
<meta property="og:image" content="@(ViewBag.SharedImage)">
<link href="https://plus.google.com/u/0/+CythilyaTang/" rel="author">
<meta name="google-site-verification" content="66HCcYwJ0Hb8f3bZX2ZO0A2IR0BSgjjj7VEXPaoThrs" />
<meta name="msvalidate.01" content="3265EB42CE08A9E8F4FB6AC2C1F4E725" />
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="Shortcut Icon" type="image/x-icon" href="/Images/icon.ico">
<link rel="stylesheet" href="/Content/me/css/style.css" media="all">
<link rel="stylesheet" href="/Content/me/css/lof-slider.css" media="all"> 
<link rel="stylesheet" href="/Content/me/css/jquery.tweet.css" media="all"> 
<link rel="stylesheet" href="/Content/me/css/superfish.css" media="screen"> 
<link rel="stylesheet" href="/Content/me/js/prettyPhoto/css/prettyPhoto.css" media="screen">
<link rel="stylesheet" href="/Content/me/js/poshytip-1.1/src/tip-twitter/tip-twitter.css">
<link rel="stylesheet" href="/Content/me/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css">
<link rel="stylesheet" href="/Content/me/css/carousel.css" media="screen"> 
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Voltaire" type="text/css">
<link rel="stylesheet" href="/Content/me/css/skin.css" media="all">
<link rel="stylesheet" href="/Content/me/css/lessframework.css" media="all">
<link rel="stylesheet" href="/Content/me/css/flexslider.css">
</head>
<body class="home">
<header itemscope itemtype="http://schema.org/WPHeader">
	<div class="wrapper cf">
        @Html.Partial("_HeaderMe")
        @{
            if (enableSlider == true)
            {
                @Html.Partial("_SliderMe");
            }    
        }
	</div>
</header>
<div id="main">
	<div class="wrapper cf">
        @RenderBody()
	</div>
</div>
@Html.Partial("_FooterMe")
<script src="/Content/js/jquery-1.7.1.min.js"></script>
<script src="/Content/me/js/custom.js"></script>
<script src="/Content/me/js/tabs.js"></script>
<script src="/Content/me/js/css3-mediaqueries.js"></script>
<script src="/Content/me/js/jquery.columnizer.min.js"></script>
<script src="/Content/me/js/jquery.isotope.min.js"></script>
<script src="/Content/me/js/jquery.easing.js"></script>
<script src="/Content/me/js/lof-slider.js"></script>
<script src="/Content/me/js/tweet/jquery.tweet.js" ></script> 
<script src="/Content/me/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script src="/Content/me/js/superfish-1.4.8/js/superfish.js"></script>
<script src="/Content/me/js/superfish-1.4.8/js/supersubs.js"></script>
<script src="/Content/me/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
<script src="/Content/me/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<script src="/Content/me/js/jquery.jcarousel.min.js"></script>
<script src="/Content/me/js/modernizr.js"></script>
<script src="/Content/me/js/jquery.flexslider.js"></script>
<script src="/Content/js/form-validation.js"></script>
</body>
</html>