<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/default.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="todos">
	<h1>Node.js: To-Do List with Express</h1>
    <ul class="unstyled">
		<% todos.forEach(function(todos) { %>
			<li class="item">
				<span class="done-<%= todos.finished %>"><%= todos.task_name %></span>
				<a class="btnEdit" href="#" value="edit" id="<%= todos.seq %>">edit</a>
				<form class="itemForm" method="post">
					<input type="text" size="30" placeholder="text here..." name="editItem" class="editItem">
					<input class="editInput btn-primary" type="button" value="save" data-seq="<%= todos.seq %>">
				</form>
				<a class="btnRemove" href="#" data-seq="<%= todos.seq %>">remove</a>		
			</li>
		<% }); %>	
	</ul>
    <form action="/create" method="post"> 
		<input type="text" size="30" placeholder="add new todo here" name="task_name" class="newTodo">
		<input class="add btn-primary btnAdd" type="button" value="add" >
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
(function($) {
	$.fn.todoList = function(opts) {
		// default configuration
		var config = $.extend({}, {
			opt1: null
		}, opts);
		// main function
		function init(obj) {
			var dTodoList = $(obj);
			var dItem = dTodoList.find('.item');
			
			dItem.on('click', '.btnEdit', function(e){
				e.preventDefault();
				dThisItem = $(this).parents('.item').find('.itemForm').show();
			});

			dItem.on('click', '.editInput', function(e){
				$.ajax({
					url: '/edit/',
					type: 'post',
					data: {
						"finished": false,
						"member": "cythilya@gmail.com",
						"task_name": $(this).parents('.item').find('.editItem').val(),
						"seq": $(this).data('seq')
					},
					dataType: 'json',
					error: function (xhr) {},
					complete: function (response) {
						location.reload();
					}
				});
			});
			
			dItem.on('click', '.btnRemove', function(e){
				e.preventDefault();
				$.ajax({
					url: '/remove/',
					type: 'post',
					data: {
						"seq": $(this).data('seq')
					},
					dataType: 'json',
					error: function (xhr) {},
					complete: function (response) {
						location.reload();
					}
				});
			});			
			
			dTodoList.on('click', '.btnAdd', function(e){
				$.ajax({
					url: '/create',
					type: 'post',
					data: {
						"finished": false,
						"member": "cythilya@gmail.com",
						"task_name": $('.newTodo').val()
					},
					dataType: 'json',
					error: function (xhr) {},
					complete: function (response) {
						location.reload();
					}
				});
			});			
        }
		// initialize every element
		this.each(function() {
			init($(this));
		});
		return this;
	};
	// start
	$(function() {
		$('.todos').todoList();
	});
})(jQuery);
</script>