@using cythilya.Areas.EShopper.Models;
@{
    List<Common.MainTag> mainTagList = ViewBag.MainTagList as List<Common.MainTag>;
    List<Common.TagProductList> tagListProductList = ViewBag.TagListProductList as List<Common.TagProductList>;
}
<div class="category-tab">
    <div class="col-sm-12">
         <ul class="nav nav-tabs">
            @if (mainTagList != null)
            {
                var firstElement = mainTagList.FirstOrDefault();
                foreach (var item in mainTagList) 
                {
                <li class="@(item.ID == firstElement.ID ? "active" : "")"><a href="#@(item.Name)" data-toggle="tab">@(item.Name.ToUpper())</a></li>
                }
            }
        </ul>
    </div>
    <div class="tab-content">
        @if (tagListProductList != null) 
        {
            foreach (var tagProductList in tagListProductList)
            {
             var firstTagProductList = tagListProductList.FirstOrDefault();
             <div class="tab-pane fade @(tagProductList.ID == firstTagProductList.ID ? "active in" : "")" id="@(tagProductList.Name)" >
                 @foreach(var tagProductItem in tagProductList.TagProduct)
                 {
                 <div class="col-sm-3">
	                <div class="product-image-wrapper">
		                <div class="single-products">
			                <div class="productinfo text-center">
				                <img src="@(tagProductItem.PicUrl)" title="@(tagProductItem.Name)" alt="@(tagProductItem.Name)" />
				                <h2>$@(tagProductItem.Price)</h2>
				                <p>@(tagProductItem.Name)</p>
				                <a href="/EShopper/Home/Product?id=@(tagProductItem.ID)" class="btn btn-default add-to-cart" title="More - @(tagProductItem.Name)">More</a>
			                </div>
		                </div>
	                </div>
                </div>                
                }
            </div>                
            }
        }
    </div>
</div>