@using cythilya.Areas.EShopper.Models;
@{
    List<Product> featuresProductList = ViewBag.FeaturesProductList as List<Product>;
}
<div class="features_items">
<div class="catecoryTitle title text-center">Features Items</div>
@if (featuresProductList != null) 
{
    foreach (var item in featuresProductList)
    {
     <div class="col-sm-4">
	    <div class="singleProduct product-image-wrapper">
		    <div class="single-products">
			    <div class="productinfo text-center">
				    <img class="productImg" src="@(item.PicFeaturedUrl)" alt="@(item.Name)" />
				    <div class="productPrice">$@(item.Price)</div>
				    <p>@(item.Name)</p>
				    <a href="/EShopper/Home/Product?id=@(item.ID)" class="btn btn-default add-to-cart" title="More - @(item.Name)">More</a>
			    </div>
			    <div class="product-overlay">
				    <div class="overlay-content">
					    <h2>$@(item.Price)</h2>
					    <p>@(item.Name)</p>
					    <a href="/EShopper/Home/Product?id=@(item.ID)" class="btn btn-default add-to-cart" title="More - @(item.Name)">More</a>
				    </div>
			    </div>
		    </div>
		    @*
		    <div class="choose">
			    <ul class="nav nav-pills nav-justified">
				    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
				    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
			    </ul>
		    </div>
		    *@
	    </div>
        <script type="application/ld+json">
        {
          "@@context": "http://schema.org/",
          "@@type": "Product",
          "name": "@(item.Name)",
          "image": "@(item.PicFeaturedUrl)",
          "description": "@item.Description",
          "productId": "@item.ID",
          "brand":{
            "@@type": "Thing",
            "name": "@item.Brand"
          },
          "aggregateRating":{
            "@@type": "AggregateRating",
            "ratingValue": "4.5",
            "reviewCount": "100"
          },
          "offers":{
            "@@type": "Offer",
            "priceCurrency": "TWD",
            "price": "@(item.Price)",
            "priceValidUntil": "2020-12-25",
            "itemCondition": "http://schema.org/NewCondition",
            "availability": "http://schema.org/InStock"
          }
        }
        </script>
    </div>
    } 
}
</div>