<!DOCTYPE html>
<html>
<head>
@Html.Partial("~/Areas/EShopper/Views/Shared/_Meta.cshtml")
@Html.Partial("~/Areas/EShopper/Views/Shared/_Style.cshtml")
</head>
<body>
@Html.Partial("~/Areas/EShopper/Views/Shared/_HeaderEShopper.cshtml")
@RenderBody()
@Html.Partial("~/Areas/EShopper/Views/Shared/_FooterEShopper.cshtml")
@Html.Partial("~/Areas/EShopper/Views/Shared/_Script.cshtml")
</body>
</html>