@model cythilya.Areas.EShopper.Models.MemberLoginViewModel
<style>
#form .row 
{   
    min-height: 338px;
}
</style>
<div class="login-form">
@using (Html.BeginForm()) {
    @*
    @Html.ValidationSummary(true)
    *@
	<h2>Login to your account</h2>
    <label>Account</label>
    @Html.EditorFor(model => model.Account)
    @Html.ValidationMessageFor(model => model.Account)
    <br>
    <label>Password</label>
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
	<br>    
    @*
    <span>
		<input type="checkbox" class="checkbox"> 
		Keep me signed in
	</span>
    *@
	<button type="submit" class="btn btn-default">Login</button>
}
</div>