@model cythilya.Areas.EShopper.Models.MemberLoginViewModel
<div class="login-form"><!--login form-->
	<h2>Login to your account</h2>
	<form action="#">
		<input type="text" placeholder="Name" />
		<input type="email" placeholder="Email Address" />
		<span>
			<input type="checkbox" class="checkbox"> 
			Keep me signed in
		</span>
		<button type="submit" class="btn btn-default">Login</button>
	</form>
</div><!--/login form-->

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Member</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}