@{
    #region title
    if (String.IsNullOrEmpty(ViewBag.Title))
    {
        ViewBag.Title = "拍賣桑莫的生活。SEO遊樂場";
    }
    else
    {
        ViewBag.Title = ViewBag.Title + " | 拍賣桑莫的生活。SEO遊樂場";
    }
    #endregion title

    #region description
    if (String.IsNullOrEmpty(ViewBag.Description))
    {
        ViewBag.Description = "拍賣桑莫的生活。SEO遊樂場。";
    }
    else
    {
        ViewBag.Description = "拍賣桑莫的生活。SEO遊樂場 - " + ViewBag.Description;
    }
    #endregion description

    #region shared image
    if(String.IsNullOrEmpty(ViewBag.SharedImage))
    {
        ViewBag.SharedImage = "/Content/eshopper/images/EShopper.png";
    }
    #endregion description
    
    var currentURL = "http://cythilya.apphb.com" + HttpContext.Current.Request.RawUrl; //canonical url
    var siteName = "Hsin-Hao Tang"; //site name
}
@* Usual Tags *@
<title>@(ViewBag.Title)</title>
<meta name="description" content="@(ViewBag.Description)" />

@* Schema.org markup for Google+ *@
<meta itemprop="name" content="@(ViewBag.Title)">
<meta itemprop="description" content="@(ViewBag.Description)">
<meta itemprop="image" content="@(ViewBag.SharedImage)">

@* Open Graph data *@
<meta property="og:title" content="@(ViewBag.Title)" />
<meta property="og:description" content="@(ViewBag.Description)" />
<meta property="og:url" content="@(currentURL)" />
<meta property="og:site_name" content="@(siteName)">
<meta property="og:type" content="website" />
<meta property="og:image" content="@(ViewBag.SharedImage)" />

@* Others *@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Hsin-Hao Tang">
<link rel="Shortcut Icon" type="image/x-icon" href="/Images/icon.ico">	
<link href="https://plus.google.com/u/0/+CythilyaTang/" rel="author">

@*Web Master Tool*@
<meta name="google-site-verification" content="66HCcYwJ0Hb8f3bZX2ZO0A2IR0BSgjjj7VEXPaoThrs" />
<meta name="msvalidate.01" content="3265EB42CE08A9E8F4FB6AC2C1F4E725" />

@* Google Tag Manager *@
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KPZ7J4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({ 'gtm.start':
new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KPZ7J4');</script>
@* End Google Tag Manager *@