@{
    //title
    if (String.IsNullOrEmpty(ViewBag.Title))
    {
        ViewBag.Title = "E-Shopper | Hsin-Hao Tang";
    }
    else
    {
        ViewBag.Title = ViewBag.Title + " | E-Shopper | Hsin-Hao Tang";
    }
        
    //description
    if(String.IsNullOrEmpty(ViewBag.Description))
    {
        ViewBag.Description = "E-Shopper | Hsin-Hao Tang";
    }
    else
    {
        ViewBag.Description = ViewBag.Description + " | E-Shopper | Hsin-Hao Tang";
    }
    
    //shared image
    if(String.IsNullOrEmpty(ViewBag.SharedImage))
    {
        ViewBag.SharedImage = "/Content/eshopper/images/EShopper.png";
    }
    
    var currentURL = "http://cythilya.apphb.com" + HttpContext.Current.Request.RawUrl;
    var siteName = "Hsin-Hao Tang";
}
@* Usual Tags *@
<title>@(ViewBag.Title)</title>
<meta name="description" content="@(ViewBag.Description)" />
<meta name="author" content="Hsin-Hao Tang">

@* Schema.org markup for Google+ *@
<meta itemprop="name" content="@(ViewBag.Title)">
<meta itemprop="description" content="@(ViewBag.Description)">
<meta itemprop="image" content="@(ViewBag.SharedImage)">

@* Open Graph data *@
<meta property="og:title" content="@(ViewBag.Title)" />
<meta property="og:description" content="@(ViewBag.Description)" />
<meta property="og:url" content="@(currentURL)" />
<meta property="og:site_name" content="@(siteName)">
<meta property="og:type" content="website" />
<meta property="og:image" content="@(ViewBag.SharedImage)" />

@* Others *@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="Shortcut Icon" type="image/x-icon" href="/Images/icon.ico">	
<link href="https://plus.google.com/u/0/+CythilyaTang/" rel="author">

@*Web Master Tool*@
<meta name="google-site-verification" content="66HCcYwJ0Hb8f3bZX2ZO0A2IR0BSgjjj7VEXPaoThrs" />
<meta name="msvalidate.01" content="3265EB42CE08A9E8F4FB6AC2C1F4E725" />