@model cythilya.Areas.EShopper.Models.Member
<style>
#form .row 
{   
    min-height: 338px;
}
</style>
<div class="signup-form">
	<h2>New User Signup!</h2>
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        @* Account *@
        <label>Account</label>
        @Html.EditorFor(model => model.Account)
        @Html.ValidationMessageFor(model => model.Account)
		<br>
        @* Email*@
        <label>Email</label>
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)        
        <br>
        @*Password*@
        <label>Password</label>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
        <br>
        <p>
            <a href="/EShopper/Member/Login" style="float: right;">Already Registered? Please Login.</a>
		</p>
        <button type="submit" class="btn btn-default" value="Create">Signup</button>
    }
</div>
